.body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 0px 2rem 0px;
}

.button {
  &:disabled {
    pointer-events: none;
  }
  @media (any-hover: hover) {
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
    &:hover {
      color: #fff;
      background-color: #512689;
    }
  }
}

@media (min-width: 992px) {
  .text {
    padding: 0 110px;
  }
}

@media (min-width: 768px) {
  .button {
    border: 1px solid #f8f8f8;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;
    svg {
      display: none;
    }
  }
  .text {
    flex: 0 1 66%;
  }
  .contacts {
    padding: 0px 0px 0px 1rem;
    flex: 0 1 34%;
  }
}
@media (max-width: 767.8px) {
  .title {
    font-size: 2rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .text {
    font-size: 1rem;
  }
  .button {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    span {
      display: none;
    }
  }
  .body {
    padding: 0 1rem;
  }
  .block {
    flex-direction: column-reverse;
    padding: 2rem 0px 0px 0px;
  }
  .header {
    padding: 1rem 0 2rem;
  }
  .name {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .content {
    padding: 2rem 0;
    flex-direction: column-reverse;
  }
  .contacts {
    margin-bottom: 1rem;
  }
}
