@use "sass:math";

//шрифт
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
//========================================================================================================================================================
$fontFamily: "Roboto";
$fontSize: 1rem;

// Основные цвета
$mainColor: #151317;
$violet: #512689;
$gray: #808185;
$grayLight: #f8f8f8;
$red: #ff6161;
$white: #fff;
//========================================================================================================================================================
//обнуление стилей
@import "null";

//========================================================================================================================================================

input {
  border-radius: 0.5rem;
  height: 3rem;
  padding: 0px 1rem;
  background-color: $grayLight;
  color: $gray;
}

button {
  &:disabled {
    background-color: $gray;
  }
}
