.body {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  width: 500px;
}

.item {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  label {
    line-height: 136%;
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }
}

.input {
  border: 1px solid #ff6161;
}

.error {
  padding: 0.4em 0px 0px 0px;
  color: #ff6161;
  font-size: 0.625rem;
}

.button {
  margin: 0.5rem 0px 1rem 0px;
  border-radius: 0.5rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #512689;
  color: #fff;
  @media (any-hover: hover) {
    transition: background-color 0.3s ease 0s;
    &:hover {
      background-color: #3b146e;
    }
  }
}

.link {
  color: #4a4fe1;
}

.title {
  font-size: 1.25rem;
  &:not(:last-child) {
    margin-bottom: 0.8em;
  }
}

.responseError {
  text-align: center;
  padding: 1rem;
  color: #ff6161;
  font-size: 1.25rem;
}
